$white: oklch(100% 0 0);
$black: oklch(0% 0 0);

$color: oklch(56.24% 0 0);
$dark: oklch(16.84% 0 0);
$green: oklch(71.32% 0.121 198.22);
$greenHover: oklch(61.98% 0.105 198.06);
$metallic: oklch(90.97% 0 0);
