.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	height: toRem(20);
	@media (max-width: toEm($mobile)) {
		height: toRem(5);
	}
	&._scroll {
		.header__wrapper {
			background-color: rgba(255, 255, 255, 0.7);
			backdrop-filter: blur(2px);
			@media (any-hover: hover) {
				transition: background-color 0.3s;
				&:hover {
					background-color: rgba(255, 255, 255, 0.9);
				}
			}
		}
	}
	// .header__wrapper
	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 70;
	}
	// .header__container
	&__container {
		@media (max-width: toEm($mobile)) {
			@include adaptiveValue(min-height, 60, 50, $mobile, 320);
		}
		display: flex;
		align-items: center;
		@include adaptiveValue(column-gap, 38, 20, $maxWidthContainer, $tablet);
		padding-top: toRem(12);
		padding-bottom: toRem(12);

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: toRem(70);

			background-color: $white;

			position: fixed;
			top: 0;
			left: 0;
			z-index: 52;

			border-bottom: toRem(1) solid $metallic;

			filter: opacity(0);
			visibility: hidden;
		}
		&:has(.menu._active) {
			filter: opacity(1);
			visibility: visible;
		}
	}
	// .header__main
	&__main {
		flex-grow: 1;
		@media (max-width: toEm($mobile)) {
			display: flex;
			justify-content: center;
			align-self: center;
		}
	}
	// .header__top
	&__top {
		@media (min-width: toEm($mobile)) {
			@include adaptiveValue(margin-bottom, 26, 10, $maxWidthContainer, $mobile);
		}
		display: flex;
		align-items: center;
		column-gap: toRem(20);
	}
	// .header__tel
	&__tel {
		color: $black;
		font-weight: 700;
		line-height: 114%;
		letter-spacing: toRem(-0.14);
		@media (any-hover: hover) {
			transition: color 0.3s;
			&:hover {
				color: $green;
			}
		}
		white-space: nowrap;

		position: relative;
		z-index: 55;
	}
}
.header-services {
	@media (min-width: toEm($mobile)) {
		flex-grow: 1;
		display: flex;
		align-items: center;
		@include adaptiveValue(column-gap, 65, 30, $maxWidthContainer, $tablet);
	}
	// .header-services__list-item
	&__list-item {
		@media (max-width: toEm($mobile)) {
			&:not(:last-child) {
				@include adaptiveValue(margin-bottom, 20, 16, $mobile, 320);
			}
		}
	}
	// .header-services__link
	&__link {
		color: oklch(56.24% 0 0);
		line-height: 114%;
		letter-spacing: toRem(-0.14);
		@media (any-hover: hover) {
			transition: color 0.3s;
			&:hover {
				color: $green;
			}
		}
		@media (max-width: toEm($mobile)) {
			@include adaptiveValue(font-size, 20, 14, $mobile, 320);
			color: $dark;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}
.menu {
	@media (min-width: toEm($mobile)) {
		flex-direction: row;
		align-items: center;
		column-gap: toRem(16);
	}
	display: flex;
	flex-direction: column;
	@media (max-width: toEm($mobile)) {
		position: fixed;
		top: 0%;
		right: 0%;
		width: 100dvw;
		height: 100dvh;
		z-index: 50;

		background-color: $white;

		padding: toRem(100) toRem(20) toRem(20);
		transition: translate 0.3s;
		overflow-y: auto;
		overflow-x: hidden;

		translate: 0 -120%;
		&._active {
			translate: 0 0;
		}

		// &::after {
		// 	content: "";
		// 	display: block;
		// 	width: 100%;
		// 	// @include adaptiveValue(height, 60, 50, $mobile, 320);
		// 	min-height: toRem(60);
		// 	background-color: $white;

		// 	position: re;
		// 	top: 0;
		// 	left: 0;
		// 	z-index: 10;

		// 	transition: all 0.3s;
		// }
	}
	// .menu__body
	&__body {
		@media (min-width: toEm($mobile)) {
			flex-grow: 1;
		}
		@media (max-width: toEm($mobile)) {
			order: 2;
		}
	}
	// .menu__list
	&__list {
		@media (min-width: toEm($mobile)) {
			display: flex;
			align-items: center;
			@include adaptiveValue(column-gap, 52, 14, $maxWidthContainer, $mobile);

			flex-wrap: wrap;
			row-gap: toRem(20);
		}
		@media (max-width: toEm($mobile)) {
			@include adaptiveValue(margin-bottom, 20, 16, $mobile, 320);
		}
	}
	// .menu__list-item
	&__list-item {
		@media (max-width: toEm($mobile)) {
			&:not(:last-child) {
				@include adaptiveValue(margin-bottom, 20, 16, $mobile, 320);
			}
		}
	}
	// .menu__link
	&__link {
		color: $dark;
		font-weight: 600;
		letter-spacing: toRem(0.4);
		text-transform: uppercase;
		@include adaptiveValue(font-size, 12, 11, $maxWidthContainer, $mobile);
		line-height: 170%;
		@media (any-hover: hover) {
			transition: color 0.3s;
			&:hover {
				color: $green;
			}
		}
		@media (max-width: toEm($mobile)) {
			@include adaptiveValue(font-size, 20, 14, $mobile, 320);
		}
	}
	// .menu__button
	&__button {
		max-width: toRem(154);
		@media (max-width: toEm($mobile)) {
			order: 1;
			max-width: 100%;

			margin-bottom: toRem(25);
		}
	}
}
.menu-icon {
	@media (min-width: toEm($mobile)) {
		display: none;
	}
	align-self: center;
	display: block;
	width: toRem(36);
	height: toRem(32);
	position: relative;
	z-index: 60;
	span {
		display: block;
		width: 100%;
		width: toRem(26);
		height: toRem(2);

		border-radius: toRem(8);

		background-color: oklch(51.03% 0 0);
		position: absolute;
		left: toRem(5);
		transition:
			top 0.3s,
			translate 0.3s,
			bottom 0.3s,
			rotate 0.3s,
			scale 0.3s;
		&:nth-child(1) {
			top: toRem(8);
		}
		&:nth-child(2) {
			top: 50%;
			translate: 0 -50%;
		}
		&:nth-child(3) {
			bottom: toRem(8);
		}
	}
	&._active {
		span:nth-child(1) {
			top: 50%;
			translate: 0 -50%;
			rotate: 45deg;
		}
		span:nth-child(2) {
			scale: 0;
		}
		span:nth-child(3) {
			bottom: 50%;
			translate: 0 50%;
			rotate: -45deg;
		}
	}
}
