.hero {
	@include adaptiveValue(padding-top, 174, 70, $maxWidthContainer, 320);
	// .hero__container
	&__container {
	}
	&__wrapper {
		display: flex;
		column-gap: toRem(40);
		@media (max-width: toEm($tablet)) {
			flex-direction: column;
			@include adaptiveValue(row-gap, 50, 20, $tablet, 320);
		}
	}
	// .hero__contend
	&__contend {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: toEm($tablet)) {
			order: 2;
		}
	}

	// .hero__title
	&__title {
		color: $dark;
		text-transform: uppercase;
		@include adaptiveValue(font-size, 56, 28, $maxWidthLayout, 320);
		font-family: $s;

		flex-grow: 1;

		max-width: toRem(620);
		@media (min-width: toEm($mobileSmall)) {
			text-align: center;
		}

		line-height: 100%;

		@media (max-width: toEm($tablet)) {
			@include adaptiveValue(margin-bottom, 30, 10, $tablet, 320);
		}
	}
	// .hero__link
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;

		@include adaptiveValue(width, 70, 50, $maxWidthContainer, $mobile);
		@include adaptiveValue(height, 70, 50, $maxWidthContainer, $mobile);

		border-radius: 50%;
		border: toRem(1) solid $metallic;

		@include adaptiveValue(margin-bottom, 98, 30, $maxWidthContainer, $tablet);
		@media (max-width: toEm($tablet)) {
			@include adaptiveValue(margin-bottom, 30, 20, $tablet, 320);
		}

		@extend .button--hover;

		@media (any-hover: hover) {
			transition: background-color 0.3s;
			&:hover {
				background-color: $green;
				.hero__icon {
					fill: $white;
				}
			}
		}
	}
	&__icon {
		width: toRem(9);
		height: toRem(16);
		fill: $green;
		transition: fill 0.3s;
	}
	// .hero__text
	&__text {
		@include adaptiveValue(padding-top, 26, 16, $maxWidthContainer, 320);
		@include adaptiveValue(padding-bottom, 26, 16, $maxWidthContainer, 320);

		border-top: toRem(1) solid $metallic;
		border-bottom: toRem(1) solid $metallic;

		@media (min-width: toEm($mobileSmall)) {
			text-align: center;
		}

		font-size: toRem(12);
		line-height: 152%;
		letter-spacing: toRem(-0.14);

		align-self: stretch;
	}
}
.hero-slider {
	@include adaptiveValue(flex-basis, 770, 500, $maxWidthLayout, $tablet);

	@media (max-width: toEm($tablet)) {
		flex-basis: 100%;
		order: 1;
	}

	flex-shrink: 0;
	.swiper {
		@media (min-width: toEm($tablet)) {
			@include adaptiveValue(width, 770, 500, $maxWidthLayout, $tablet);
		}
		width: 100%;
	}
	// .hero-slider__img
	&__img {
		aspect-ratio: 740/586;
		width: 100%;

		border-radius: toRem(15);
		overflow: hidden;
	}
	// .hero-slider__arrow
	&__arrow {
		@media (min-width: toEm($mobile)) {
			position: absolute;
			top: 50%;
			transform: 0 -50%;
			z-index: 50;

			svg {
				width: toRem(48);
				height: toRem(16);
				fill: $green;
				transition: fill 0.3s;
			}

			display: flex;
			justify-content: center;
			align-items: center;

			width: toRem(70);
			height: toRem(70);

			border-radius: 50%;
			background-color: $white;

			@media (any-hover: hover) {
				transition: background-color 0.3s;
				&:hover {
					background-color: $green;
					svg {
						fill: $white;
					}
				}
			}
		}
		display: none;
	}
	// .hero-slider__arrow--left
	&__arrow--left {
		left: toRem(20);
	}
	// .hero-slider__arrow--right
	&__arrow--right {
		right: toRem(20);
		rotate: 180deg;
	}
	// .hero-slider__paginations
	&__paginations {
		position: absolute;
		top: auto !important;
		bottom: toRem(10) !important;
		left: 0;
		z-index: 10;

		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue(column-gap, 20, 12, $maxWidthContainer, 320);

		.swiper-pagination-bullet {
			width: toRem(15);
			height: toRem(15);
			background-color: oklch(100% 0 0 / 65%);
			margin: 0;

			border-radius: toRem(7.5);
			border: toRem(1) solid oklch(100% 0 0 / 65%);

			@include setTransitionProperties(background-color, border);
		}

		.swiper-pagination-bullet-active {
			border: toRem(1) solid $white;
			background-color: $white;
		}
	}
}
.hero-info {
	@include adaptiveValue(padding-top, 80, 20, $maxWidthContainer, 320);
	@media (min-width: toEm($tablet)) {
		display: flex;
		align-items: flex-start;
		@include adaptiveValue(column-gap, 340, 100, $maxWidthContainer, $tablet);
	}
	// .hero-info__number
	&__number {
		span {
			color: $dark;
			font-family: $s;
			line-height: 150%;
			@include adaptiveValue(font-size, 48, 28, $maxWidthContainer, 320);
		}
		@media (max-width: toEm($tablet)) {
			margin-bottom: toRem(25);
			padding-bottom: toRem(25);
			border-bottom: toRem(1) solid oklch(90.97% 0 0);
		}
	}
	// .hero-info__date
	&__date {
		letter-spacing: toRem(-0.14);

		max-width: toRem(128);
	}
	// .hero-info__contend
	&__contend {
		flex-basis: toRem(636);
		@media (max-width: toEm($tablet)) {
			& > *:not(:last-child) {
				margin-bottom: toRem(25);
			}
		}
	}
	// .hero-info__title
	&__title {
		font-family: $s;
		color: $dark;
		@include adaptiveValue(font-size, 49, 28, $maxWidthContainer, 320);
		margin-bottom: toRem(25);
		line-height: 92%;

		max-width: toRem(440);
	}
	// .hero-info__text
	&__text {
		letter-spacing: toRem(-0.14);
		margin-bottom: toRem(48);
	}
	// .hero-info__buttin
	&__buttin {
		@media (min-width: toEm($mobileSmall)) {
			width: toRem(278);
		}
		width: 100%;
	}
}
