:where(html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video) {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(a, a:link, a:visited, a:hover) {
  text-decoration: none;
  color: inherit;
}

:where(h1, h2, h3, h4, h5, h6, p) {
  font-size: inherit;
  font-weight: inherit;
}

:where(img) {
  vertical-align: top;
}

:where(address) {
  font-style: normal;
}

:where(mark) {
  color: inherit;
  background-color: transparent;
}

:where(input, textarea, button, select) {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

:where(button) {
  padding: 0;
  border: none;
  background-color: transparent;
}
:where(button):focus {
  outline: none;
}
:where(button):focus-visible {
  outline: none;
}

:where(input):focus {
  outline: none;
}
:where(input):focus-visible {
  outline: none;
}

:where(label) {
  display: block;
}

:where(input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration) {
  -webkit-appearance: none;
  -moz-appearance: none;
}

:where(textarea) {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

:where(label, button) {
  cursor: pointer;
}

:where(legend) {
  display: block;
}

:where(input::-ms-clear) {
  display: none;
}

:where(article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section) {
  display: block;
}

:where(body) {
  line-height: 1;
}

:where(ol, ul) {
  list-style: none;
}

:where(blockquote, q) {
  quotes: none;
}

:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

:where(fieldset) {
  border: 0;
  margin: 0;
  padding: 0;
}

:where(textarea) {
  resize: vertical;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Segoe;
  font-display: swap;
  src: url("../fonts/Segoe-Bold.woff2") format("woff2"), url("../fonts/Segoe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Segoe;
  font-display: swap;
  src: url("../fonts/Segoe-Regular-Italic.woff2") format("woff2"), url("../fonts/Segoe-Regular-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Segoe;
  font-display: swap;
  src: url("../fonts/Segoe-Semibold.woff2") format("woff2"), url("../fonts/Segoe-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SangBleu;
  font-display: swap;
  src: url("../fonts/SangBleu-Regular.woff2") format("woff2"), url("../fonts/SangBleu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Segoe, Arial, Helvetica, sans-serif;
  color: oklch(56.24% 0 0);
  font-size: 0.875rem;
  line-height: 150%;
}

[class*=__container] {
  max-width: 96.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 0 auto;
}

[class*=__container-right] {
  margin: 0;
  max-width: 100%;
  padding-left: 0rem;
  padding-right: calc((100% - 1520px) / 2 + 12px);
  margin-right: 0.75rem;
}

[class*=__container-left] {
  margin: 0;
  max-width: 100%;
  padding-left: 0rem;
  padding-left: calc((100% - 1520px) / 2 + 12px);
  margin-left: 0.75rem;
}

html {
  scroll-behavior: smooth;
}

body {
  -web-kit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body._lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
}

._ibg {
  position: relative;
  overflow: hidden;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

._visiualy-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  width: 0.0625rem;
  margin: -0.0625rem;
  clip-path: inset(50%);
  white-space: nowrap;
  user-select: none;
  visibility: hidden;
}

._none {
  display: none !important;
}

._disabled {
  pointer-events: none;
}

.title {
  font-family: SangBleu, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 146%;
  color: oklch(16.84% 0 0);
  font-size: clamp(28px, 28px + 56 * (100vw - 320px) / 1600, 84px);
}

.button {
  border-radius: 0.625rem;
  background-color: oklch(71.32% 0.121 198.22);
  min-height: 3.125rem;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 114%;
  font-weight: 600;
  color: oklch(100% 0 0);
  letter-spacing: 0.025rem;
  font-size: 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media (any-hover: hover) {
  .button {
    transition: background-color 0.3s;
  }
  .button:hover {
    background-color: oklch(61.98% 0.105 198.06);
  }
}
.button--transparent {
  background-color: transparent;
  border: 0.0625rem solid oklch(71.32% 0.121 198.22);
  color: oklch(71.32% 0.121 198.22);
}
@media (any-hover: hover) {
  .button--transparent {
    transition: background-color 0.3s, color 0.3s;
  }
  .button--transparent:hover {
    background-color: oklch(71.32% 0.121 198.22);
    color: oklch(100% 0 0);
  }
}
.button--hover, .hero__link {
  transition: scale 0.3s;
}
@media (any-hover: hover) {
  .button--hover:hover, .hero__link:hover {
    scale: 1.05;
  }
}
.button--hover:active, .hero__link:active {
  scale: 0.95;
}

.logo {
  position: relative;
  z-index: 60;
  font-family: "Amaranth", sans-serif;
  display: inline-flex;
  flex-direction: column;
  row-gap: clamp(3px, 3px + 5 * (100vw - 320px) / 1200, 8px);
}
.logo__main {
  color: oklch(71.32% 0.121 198.22);
  font-size: clamp(32px, 32px + 6 * (100vw - 320px) / 1200, 38px);
  text-transform: uppercase;
}
.logo__description {
  color: oklch(46.04% 0 0);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 0.625rem;
  white-space: nowrap;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: oklch(0% 0 0/50%);
  overflow-y: auto;
  overflow-x: hidden;
  filter: opacity(0);
  visibility: hidden;
  transition: filter 0.8s, visibility 0.8s;
}
.popup._open {
  filter: opacity(1);
  visibility: visible;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1.875rem;
  translate: 100% 0;
  transition: translate 0.8s;
}
@media (max-width: 37.49875em) {
  .popup__body:has(.application) {
    padding-left: 0rem;
  }
}
.popup._open .popup__body {
  translate: 0% 0;
}

.application {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  border-radius: 0.9375rem;
  background-color: oklch(100% 0 0);
  min-height: 100dvh;
  padding-top: clamp(16px, 16px + 62 * (100vw - 320px) / 1200, 78px);
  padding-right: clamp(10px, 10px + 18 * (100vw - 320px) / 1200, 28px);
  padding-left: clamp(16px, 16px + 12 * (100vw - 320px) / 1200, 28px);
  padding-bottom: 2rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  overflow-y: auto;
}
@media (min-width: 37.49875em) {
  .application {
    max-width: 39rem;
    margin-left: auto;
    margin: 0;
  }
}
@media (max-width: 37.49875em) {
  .application {
    width: 100%;
  }
}
.application__close-button {
  position: absolute;
  top: 1.25rem;
  right: clamp(10px, 10px + 10 * (100vw - 320px) / 1200, 20px);
  min-height: 1.875rem;
  width: clamp(25px, 25px + 15 * (100vw - 320px) / 1200, 40px);
  height: clamp(25px, 25px + 15 * (100vw - 320px) / 1200, 40px);
}
@media (any-hover: hover) {
  .application__close-button:hover .fig {
    stroke: oklch(71.32% 0.121 198.22);
  }
}
.application__close-button .fig {
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: stroke 0.3s;
  stroke: oklch(56.24% 0 0);
}
.application__title {
  text-transform: uppercase;
  font-size: clamp(28px, 28px + 20 * (100vw - 320px) / 1200, 48px);
  font-family: SangBleu, Arial, Helvetica, sans-serif;
  line-height: 256%;
  color: oklch(16.84% 0 0);
}
@media (max-width: 97.5em) {
  .application__title {
    line-height: 120%;
    margin-bottom: 1.875rem;
  }
}
.credit .application__title {
  margin-bottom: clamp(0px, 0px + 16 * (100vw - 320px) / 1200, 16px);
}
@media (max-width: 97.5em) {
  .credit .application__title {
    padding-top: clamp(30px, 30px + (40 - 30) * (100vw - 1560px) / (320 - 1560), 40px);
  }
}

.form-application__item {
  margin-bottom: 1.375rem;
}
.form-application__label {
  color: oklch(56.24% 0 0);
  line-height: 114%;
  letter-spacing: -0.00875rem;
  margin-bottom: 0.625rem;
}
.form-application__input {
  width: 100%;
  min-height: 2.25rem;
  min-height: clamp(16px, 16px + 30 * (100vw - 320px) / 1200, 46px);
  padding-right: 0.625rem;
  border-bottom: 0.0625rem solid oklch(16.84% 0 0);
  font-size: clamp(18px, 18px + 7 * (100vw - 320px) / 1200, 25px);
  color: oklch(16.84% 0 0);
  font-family: SangBleu, Arial, Helvetica, sans-serif;
  line-height: 146%;
}
.form-application__input::placeholder {
  font-size: 1.5625rem;
  font-size: clamp(18px, 18px + 7 * (100vw - 320px) / 1200, 25px);
  color: oklch(16.84% 0 0);
  font-family: SangBleu, Arial, Helvetica, sans-serif;
  line-height: 146%;
  transition: font-size 0.3s;
}
.form-application__input:focus::placeholder {
  font-size: 0rem;
}
.form-application__input._error {
  box-shadow: 0 0 0.9375rem red;
}
.form-application__spoller-button {
  color: oklch(71.32% 0.121 198.22);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  margin-bottom: 1.625rem;
  position: relative;
  padding-right: 0.5rem;
}
.form-application__spoller-button::before, .form-application__spoller-button:after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.0625rem;
  background-color: oklch(71.32% 0.121 198.22);
  position: absolute;
  top: 50%;
  right: -0.5rem;
  translate: 0 -50%;
  transition: background-color 0.3s;
}
.form-application__spoller-button::before {
  rotate: 90deg;
  transition: rotate 0.3s;
}
.form-application__spoller-button._active::before {
  rotate: 0deg;
}
@media (any-hover: hover) {
  .form-application__spoller-button {
    transition: color 0.3s;
  }
  .form-application__spoller-button:hover {
    color: oklch(16.84% 0 0);
  }
  .form-application__spoller-button:hover::before, .form-application__spoller-button:hover::after {
    background-color: oklch(16.84% 0 0);
  }
}
.form-application__spoller-body {
  margin-bottom: 1.125rem;
}
.form-application__textarea {
  border-radius: 0.9375rem;
  border: 1px solid oklch(88.53% 0 0);
  padding: 0.9375rem;
  padding: clamp(10px, 10px + 5 * (100vw - 320px) / 1200, 15px);
  font-size: 1rem;
  color: oklch(16.84% 0 0);
  min-height: 7.75rem;
  width: 100%;
  resize: none;
  margin-bottom: 1rem;
}
.form-application__textarea::placeholder {
  color: oklch(56.24% 0 0);
  line-height: 114%;
  letter-spacing: -0.00875rem;
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  transition: font-size 0.3s;
}
.form-application__textarea:focus::placeholder {
  font-size: 0rem;
}

.checks-block {
  position: relative;
  display: flex;
  column-gap: 0.3125rem;
  margin-bottom: clamp(32px, 32px + 18 * (100vw - 320px) / 1200, 50px);
}
.checks-block__item {
  flex-basis: 16.625rem;
  border-radius: 0.9375rem;
  border: 0.0625rem solid oklch(88.53% 0 0);
  padding: 1rem 0.75rem 1.125rem 1.125rem;
}
.checks-block__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.25rem;
  margin-bottom: 2.5rem;
}
.checks-block__tultip {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(95.81% 0 0);
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
}
@media (any-hover: hover) {
  .checks-block__tultip {
    transition: color 0.3s;
  }
  .checks-block__tultip:hover {
    color: oklch(71.32% 0.121 198.22);
  }
  .checks-block__tultip:hover + .tultip {
    visibility: visible;
    filter: opacity(1);
    translate: 0 0%;
  }
}
.checks-block__text {
  color: oklch(56.24% 0 0);
  max-width: 5.25rem;
  font-size: 0.75rem;
  line-height: 114%;
  letter-spacing: -0.00875rem;
}

.popup-label span {
  display: block;
  width: 1.3125rem;
  height: 1.3125rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid oklch(16.84% 0 0);
  background: url("./../img/header/check.svg") center/0.75rem 0.5625rem no-repeat;
  transition: border 0.3s, background-color 0.3s;
}
.popup-label__input:checked + span {
  background-color: oklch(71.32% 0.121 198.22);
  border: 0.0625rem solid oklch(71.32% 0.121 198.22);
}

.tultip {
  border-radius: 0.3125rem;
  background-color: oklch(100% 0 0);
  box-shadow: 0 0.25rem 0.75rem 0 oklch(0% 0 0/10%);
  padding: 1.25rem 1.375rem 1.5rem 1.75rem;
  position: absolute;
  top: 2.75rem;
  right: -20px;
  visibility: hidden;
  filter: opacity(0);
  translate: 0 10%;
  transition: translate 0.3s, visibility 0.3s, filter 0.3s;
  max-width: 22.1875rem;
  width: 100%;
}
.tultip__title {
  margin-bottom: 1rem;
  color: oklch(16.84% 0 0);
  line-height: 114%;
  letter-spacing: -0.00875rem;
}
.tultip__text {
  color: oklch(56.24% 0 0);
  letter-spacing: -0.00875rem;
  line-height: 150%;
}

.dropdown {
  position: relative;
}
.dropdown._active .dropdown__list {
  filter: opacity(1);
  visibility: visible;
  translate: 0 0%;
}
.dropdown__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.25rem;
  width: 100%;
  font-size: clamp(18px, 18px + 7 * (100vw - 320px) / 1200, 25px);
  color: oklch(16.84% 0 0);
  font-family: SangBleu, Arial, Helvetica, sans-serif;
  line-height: 146%;
  border-bottom: 0.0625rem solid oklch(16.84% 0 0);
}
.dropdown__button span {
  pointer-events: none;
}
.dropdown__icon {
  width: 0.625rem;
  height: 0.75rem;
  fill: oklch(16.84% 0 0);
  pointer-events: none;
}
.dropdown__list {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 10.625rem;
  z-index: 40;
  background-color: oklch(100% 0 0);
  border: 0.0625rem solid oklch(56.24% 0 0);
  overflow-x: hidden;
  overflow-y: auto;
  filter: opacity(0);
  visibility: hidden;
  translate: 0 -10%;
  transition: translate 0.3s, visibility 0.3s, filter 0.3s;
}
.dropdown__list._active {
  filter: opacity(1);
  visibility: visible;
  translate: 0 0%;
}
.dropdown__list-item:not(:last-child) {
  border-bottom: 0.0625rem solid oklch(56.24% 0 0);
}
.dropdown__list-button {
  padding: 0.625rem;
  font-size: 1rem;
  color: oklch(16.84% 0 0);
  width: 100%;
  text-align: left;
}
@media (any-hover: hover) {
  .dropdown__list-button {
    transition: box-shadow 0.3s;
  }
  .dropdown__list-button:hover {
    box-shadow: 0 0 0.625rem oklch(56.24% 0 0) inset;
  }
}
.dropdown__input {
  visibility: hidden;
}

.file__input {
  display: none;
}
.file__button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.625rem;
  color: oklch(71.32% 0.121 198.22);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .file__button {
    transition: color 0.3s;
  }
  .file__button:hover {
    color: oklch(16.84% 0 0);
  }
  .file__button:hover .file__icon {
    fill: oklch(16.84% 0 0);
  }
}
.file__icon {
  width: 1.375rem;
  height: 1.375rem;
  fill: oklch(71.32% 0.121 198.22);
  pointer-events: none;
  transition: fill 0.3s;
}
.file__preview {
  margin-top: 0.625rem;
}
.file__preview img {
  width: 11.25rem;
  height: 12.5rem;
}

.credit .form-bottom {
  display: flex;
  align-items: center;
  column-gap: clamp(12px, 12px + 3 * (100vw - 320px) / 1200, 15px);
  margin-bottom: clamp(20px, 20px + 10 * (100vw - 320px) / 1200, 30px);
}
.form-bottom .popup-label {
  margin-bottom: 0.9375rem;
}
.form-bottom .popup-label input._error + span {
  box-shadow: 0 0 0.9375rem red;
}
.form-bottom__text {
  font-size: 0.75rem;
  color: oklch(56.24% 0 0);
  line-height: 114%;
  letter-spacing: -0.00875rem;
  margin-bottom: clamp(14px, 14px + 18 * (100vw - 320px) / 1200, 32px);
}
.form-bottom__text a {
  font-weight: 600;
  text-decoration: underline;
}
@media (any-hover: hover) {
  .form-bottom__text a:hover {
    text-decoration: none;
  }
}
.credit .form-bottom__text {
  flex-basis: 21.625rem;
  margin: 0;
}
.form-bottom__button {
  width: 100%;
}
.credit .form-bottom__button {
  width: 17.75rem;
}
@media (max-width: 37.49875em) {
  .credit .form-bottom__button {
    width: 100%;
  }
}

.credit__close-button {
  display: flex;
  align-items: center;
  column-gap: clamp(10px, 10px + 5 * (100vw - 320px) / 1200, 15px);
  position: absolute;
  top: clamp(20px, 20px + 24 * (100vw - 320px) / 1200, 44px);
  left: clamp(20px, 20px + 20 * (100vw - 320px) / 1200, 40px);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 170%;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: oklch(71.32% 0.121 198.22);
}
.credit__close-button svg {
  width: 0.5rem;
  height: 0.9375rem;
  fill: oklch(71.32% 0.121 198.22);
  transition: fill 0.3s, translate 0.3s;
  rotate: 180deg;
}
@media (any-hover: hover) {
  .credit__close-button {
    transition: color 0.3s;
  }
  .credit__close-button:hover {
    color: oklch(16.84% 0 0);
  }
  .credit__close-button:hover svg {
    fill: oklch(16.84% 0 0);
    translate: -0.25rem 0;
  }
}
.credit__text {
  line-height: 150%;
  letter-spacing: -0.00875rem;
  margin-bottom: clamp(12px, 12px + 4 * (100vw - 320px) / 1200, 16px);
}
.credit__link {
  display: inline-block;
  color: oklch(71.32% 0.121 198.22);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 114%;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  margin-bottom: clamp(16px, 16px + 8 * (100vw - 320px) / 1200, 24px);
}
@media (any-hover: hover) {
  .credit__link {
    transition: color 0.3s;
  }
  .credit__link:hover {
    color: oklch(16.84% 0 0);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.25rem;
}
@media (max-width: 47.99875em) {
  .header {
    height: 0.3125rem;
  }
}
.header._scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
}
@media (any-hover: hover) {
  .header._scroll .header__wrapper {
    transition: background-color 0.3s;
  }
  .header._scroll .header__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 70;
}
.header__container {
  display: flex;
  align-items: center;
  column-gap: clamp(20px, 20px + 18 * (100vw - 991.98px) / 528.02, 38px);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
@media (max-width: 47.99875em) {
  .header__container {
    min-height: clamp(50px, 50px + 10 * (100vw - 320px) / 447.98, 60px);
  }
}
.header__container::before {
  content: "";
  display: block;
  width: 100%;
  height: 4.375rem;
  background-color: oklch(100% 0 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 52;
  border-bottom: 0.0625rem solid oklch(90.97% 0 0);
  filter: opacity(0);
  visibility: hidden;
}
.header__container:has(.menu._active) {
  filter: opacity(1);
  visibility: visible;
}
.header__main {
  flex-grow: 1;
}
@media (max-width: 47.99875em) {
  .header__main {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
.header__top {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
@media (min-width: 47.99875em) {
  .header__top {
    margin-bottom: clamp(10px, 10px + 16 * (100vw - 767.98px) / 752.02, 26px);
  }
}
.header__tel {
  color: oklch(0% 0 0);
  font-weight: 700;
  line-height: 114%;
  letter-spacing: -0.00875rem;
  white-space: nowrap;
  position: relative;
  z-index: 55;
}
@media (any-hover: hover) {
  .header__tel {
    transition: color 0.3s;
  }
  .header__tel:hover {
    color: oklch(71.32% 0.121 198.22);
  }
}

@media (min-width: 47.99875em) {
  .header-services {
    flex-grow: 1;
    display: flex;
    align-items: center;
    column-gap: clamp(30px, 30px + 35 * (100vw - 991.98px) / 528.02, 65px);
  }
}
@media (max-width: 47.99875em) {
  .header-services__list-item:not(:last-child) {
    margin-bottom: clamp(16px, 16px + 4 * (100vw - 320px) / 447.98, 20px);
  }
}
.header-services__link {
  color: oklch(56.24% 0 0);
  line-height: 114%;
  letter-spacing: -0.00875rem;
}
@media (any-hover: hover) {
  .header-services__link {
    transition: color 0.3s;
  }
  .header-services__link:hover {
    color: oklch(71.32% 0.121 198.22);
  }
}
@media (max-width: 47.99875em) {
  .header-services__link {
    font-size: clamp(14px, 14px + 6 * (100vw - 320px) / 447.98, 20px);
    color: oklch(16.84% 0 0);
    font-weight: 600;
    text-transform: uppercase;
  }
}

.menu {
  display: flex;
  flex-direction: column;
}
@media (min-width: 47.99875em) {
  .menu {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100dvw;
    height: 100dvh;
    z-index: 50;
    background-color: oklch(100% 0 0);
    padding: 6.25rem 1.25rem 1.25rem;
    transition: translate 0.3s;
    overflow-y: auto;
    overflow-x: hidden;
    translate: 0 -120%;
  }
  .menu._active {
    translate: 0 0;
  }
}
@media (min-width: 47.99875em) {
  .menu__body {
    flex-grow: 1;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    order: 2;
  }
}
@media (min-width: 47.99875em) {
  .menu__list {
    display: flex;
    align-items: center;
    column-gap: clamp(14px, 14px + 38 * (100vw - 767.98px) / 752.02, 52px);
    flex-wrap: wrap;
    row-gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    margin-bottom: clamp(16px, 16px + 4 * (100vw - 320px) / 447.98, 20px);
  }
}
@media (max-width: 47.99875em) {
  .menu__list-item:not(:last-child) {
    margin-bottom: clamp(16px, 16px + 4 * (100vw - 320px) / 447.98, 20px);
  }
}
.menu__link {
  color: oklch(16.84% 0 0);
  font-weight: 600;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-size: clamp(11px, 11px + 1 * (100vw - 767.98px) / 752.02, 12px);
  line-height: 170%;
}
@media (any-hover: hover) {
  .menu__link {
    transition: color 0.3s;
  }
  .menu__link:hover {
    color: oklch(71.32% 0.121 198.22);
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: clamp(14px, 14px + 6 * (100vw - 320px) / 447.98, 20px);
  }
}
.menu__button {
  max-width: 9.625rem;
}
@media (max-width: 47.99875em) {
  .menu__button {
    order: 1;
    max-width: 100%;
    margin-bottom: 1.5625rem;
  }
}

.menu-icon {
  align-self: center;
  display: block;
  width: 2.25rem;
  height: 2rem;
  position: relative;
  z-index: 60;
}
@media (min-width: 47.99875em) {
  .menu-icon {
    display: none;
  }
}
.menu-icon span {
  display: block;
  width: 100%;
  width: 1.625rem;
  height: 0.125rem;
  border-radius: 0.5rem;
  background-color: oklch(51.03% 0 0);
  position: absolute;
  left: 0.3125rem;
  transition: top 0.3s, translate 0.3s, bottom 0.3s, rotate 0.3s, scale 0.3s;
}
.menu-icon span:nth-child(1) {
  top: 0.5rem;
}
.menu-icon span:nth-child(2) {
  top: 50%;
  translate: 0 -50%;
}
.menu-icon span:nth-child(3) {
  bottom: 0.5rem;
}
.menu-icon._active span:nth-child(1) {
  top: 50%;
  translate: 0 -50%;
  rotate: 45deg;
}
.menu-icon._active span:nth-child(2) {
  scale: 0;
}
.menu-icon._active span:nth-child(3) {
  bottom: 50%;
  translate: 0 50%;
  rotate: -45deg;
}

.hero {
  padding-top: clamp(70px, 70px + 104 * (100vw - 320px) / 1200, 174px);
}
.hero__wrapper {
  display: flex;
  column-gap: 2.5rem;
}
@media (max-width: 61.99875em) {
  .hero__wrapper {
    flex-direction: column;
    row-gap: clamp(20px, 20px + 30 * (100vw - 320px) / 671.98, 50px);
  }
}
.hero__contend {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 61.99875em) {
  .hero__contend {
    order: 2;
  }
}
.hero__title {
  color: oklch(16.84% 0 0);
  text-transform: uppercase;
  font-size: clamp(28px, 28px + 28 * (100vw - 320px) / 1600, 56px);
  font-family: SangBleu, Arial, Helvetica, sans-serif;
  flex-grow: 1;
  max-width: 38.75rem;
  line-height: 100%;
}
@media (min-width: 29.99875em) {
  .hero__title {
    text-align: center;
  }
}
@media (max-width: 61.99875em) {
  .hero__title {
    margin-bottom: clamp(10px, 10px + 20 * (100vw - 320px) / 671.98, 30px);
  }
}
.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(50px, 50px + 20 * (100vw - 767.98px) / 752.02, 70px);
  height: clamp(50px, 50px + 20 * (100vw - 767.98px) / 752.02, 70px);
  border-radius: 50%;
  border: 0.0625rem solid oklch(90.97% 0 0);
  margin-bottom: clamp(30px, 30px + 68 * (100vw - 991.98px) / 528.02, 98px);
}
@media (max-width: 61.99875em) {
  .hero__link {
    margin-bottom: clamp(20px, 20px + 10 * (100vw - 320px) / 671.98, 30px);
  }
}
@media (any-hover: hover) {
  .hero__link {
    transition: background-color 0.3s;
  }
  .hero__link:hover {
    background-color: oklch(71.32% 0.121 198.22);
  }
  .hero__link:hover .hero__icon {
    fill: oklch(100% 0 0);
  }
}
.hero__icon {
  width: 0.5625rem;
  height: 1rem;
  fill: oklch(71.32% 0.121 198.22);
  transition: fill 0.3s;
}
.hero__text {
  padding-top: clamp(16px, 16px + 10 * (100vw - 320px) / 1200, 26px);
  padding-bottom: clamp(16px, 16px + 10 * (100vw - 320px) / 1200, 26px);
  border-top: 0.0625rem solid oklch(90.97% 0 0);
  border-bottom: 0.0625rem solid oklch(90.97% 0 0);
  font-size: 0.75rem;
  line-height: 152%;
  letter-spacing: -0.00875rem;
  align-self: stretch;
}
@media (min-width: 29.99875em) {
  .hero__text {
    text-align: center;
  }
}

.hero-slider {
  flex-basis: clamp(500px, 500px + 270 * (100vw - 991.98px) / 928.02, 770px);
  flex-shrink: 0;
}
@media (max-width: 61.99875em) {
  .hero-slider {
    flex-basis: 100%;
    order: 1;
  }
}
.hero-slider .swiper {
  width: 100%;
}
@media (min-width: 61.99875em) {
  .hero-slider .swiper {
    width: clamp(500px, 500px + 270 * (100vw - 991.98px) / 928.02, 770px);
  }
}
.hero-slider__img {
  aspect-ratio: 740/586;
  width: 100%;
  border-radius: 0.9375rem;
  overflow: hidden;
}
.hero-slider__arrow {
  display: none;
}
@media (min-width: 47.99875em) {
  .hero-slider__arrow {
    position: absolute;
    top: 50%;
    transform: 0 -50%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background-color: oklch(100% 0 0);
  }
  .hero-slider__arrow svg {
    width: 3rem;
    height: 1rem;
    fill: oklch(71.32% 0.121 198.22);
    transition: fill 0.3s;
  }
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .hero-slider__arrow {
    transition: background-color 0.3s;
  }
  .hero-slider__arrow:hover {
    background-color: oklch(71.32% 0.121 198.22);
  }
  .hero-slider__arrow:hover svg {
    fill: oklch(100% 0 0);
  }
}
.hero-slider__arrow--left {
  left: 1.25rem;
}
.hero-slider__arrow--right {
  right: 1.25rem;
  rotate: 180deg;
}
.hero-slider__paginations {
  position: absolute;
  top: auto !important;
  bottom: 0.625rem !important;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: clamp(12px, 12px + 8 * (100vw - 320px) / 1200, 20px);
}
.hero-slider__paginations .swiper-pagination-bullet {
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: oklch(100% 0 0/65%);
  margin: 0;
  border-radius: 0.46875rem;
  border: 0.0625rem solid oklch(100% 0 0/65%);
  transition: background-color 0.3s, border 0.3s;
}
.hero-slider__paginations .swiper-pagination-bullet-active {
  border: 0.0625rem solid oklch(100% 0 0);
  background-color: oklch(100% 0 0);
}

.hero-info {
  padding-top: clamp(20px, 20px + 60 * (100vw - 320px) / 1200, 80px);
}
@media (min-width: 61.99875em) {
  .hero-info {
    display: flex;
    align-items: flex-start;
    column-gap: clamp(100px, 100px + 240 * (100vw - 991.98px) / 528.02, 340px);
  }
}
.hero-info__number span {
  color: oklch(16.84% 0 0);
  font-family: SangBleu, Arial, Helvetica, sans-serif;
  line-height: 150%;
  font-size: clamp(28px, 28px + 20 * (100vw - 320px) / 1200, 48px);
}
@media (max-width: 61.99875em) {
  .hero-info__number {
    margin-bottom: 1.5625rem;
    padding-bottom: 1.5625rem;
    border-bottom: 0.0625rem solid oklch(90.97% 0 0);
  }
}
.hero-info__date {
  letter-spacing: -0.00875rem;
  max-width: 8rem;
}
.hero-info__contend {
  flex-basis: 39.75rem;
}
@media (max-width: 61.99875em) {
  .hero-info__contend > *:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.hero-info__title {
  font-family: SangBleu, Arial, Helvetica, sans-serif;
  color: oklch(16.84% 0 0);
  font-size: clamp(28px, 28px + 21 * (100vw - 320px) / 1200, 49px);
  margin-bottom: 1.5625rem;
  line-height: 92%;
  max-width: 27.5rem;
}
.hero-info__text {
  letter-spacing: -0.00875rem;
  margin-bottom: 3rem;
}
.hero-info__buttin {
  width: 100%;
}
@media (min-width: 29.99875em) {
  .hero-info__buttin {
    width: 17.375rem;
  }
}